header {
  background-color: brown;
  padding: 20px 20px;
  text-align: center;
}
span {
  font-weight: bold;
  color: azure;
  font-size: 50px;
}
h2 {
  text-align: center;
}
.persegi {
  background-color: brown;
  padding: 20px 20px;
  font-size: 20px;
  color: azure;
  text-align: center;
}
.p_panjang {
  color: brown;
  font-size: 20px;
  text-align: center;
}
h3 {
  background-color: brown;
  padding: 20px 20px;
  font-size: 30px;
  color: azure;
  text-align: center;
}
.example-square {
  margin: auto;
  border: 2px solid red;
  height: 70px;
  width: 70px;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button {
  display: inline-block;
  background: #973d26;
  color: #fff;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
  margin: 2rem 0;
  padding: 10px 20px;
  margin-right: 10px;
}

button:hover {
  background-color: #571111;
}

.hasil {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 900;
}
